<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.app.com.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".MenuPrincipalActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistroActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PerfilActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ContenidoSolicitudes"
            android:screenOrientation="portrait"/>
        <activity android:name=".ContenidoHistorial"
            android:screenOrientation="portrait"/>
        <activity android:name=".ContenidoBuscarServicios"
            android:screenOrientation="portrait"/>
        <activity android:name=".ContenidoResultadoMapa"
            android:screenOrientation="portrait"/>
        <activity android:name=".ContenidoResultadoBusqueda"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>